
img{
    margin-left: 5%;
    margin-top: 10px;
}
h1, h3, h2{
  font-size: 15px;
    margin: 0%;
}
strong {
    font-size: large;
}
.content{
    overflow: auto;
}
.card{
    overflow: auto;
    width: 30vw;
    height: 30vh;
}
.card::-webkit-scrollbar {
    display: none;
  }
.card img{
    // box-shadow: 10px 10px 10px 10px #e2d1e5;
    align-items: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.row {
    width: 99vw;
}

