<div class="row">
    <div class="col-sm-3" *ngFor="let doctor of doctorList">
        <div class="card m-3 d-flex" style="width: 18rem;">
            <img class="card-img-top" src="{{doctor.profile}}" alt="profile">
            <div class="card-body">
              <h1 class="card-title">{{doctor.name}}</h1>
              <h3 class="card-text">{{doctor.address}}</h3>
              <h3 class="card-text">{{doctor.phone}}</h3>
              <h3 class="card-text">Spesial on "{{doctor.speacialon}}"</h3>
              <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
</div>