
<div class="row">
  <div class="col-sm-2 mt-5 form-group">
    <form class="pt-3" [formGroup]="form">
      <label class="form-label ms-5"> Choose related Disease</label>
      <select class="form-select ms-5" (change)="chooseWithSpeciality(form?.get('disease')?.value)"
              formControlName="disease" aria-label="Default select example">
        <option value="1">Heart</option>
        <option value="2">Niuro</option>
        <option value="3">Eye</option>
        <option value="4">Geriatric</option>
      </select>
    </form>
  </div>
</div>
<div class="row">
  <div *ngIf="doctorList.length < 1">
    <div class="container" style="height: 40vh; width: 100vw; overflow: hidden;">
      <div class="row d-flex align-items-center justify-content-center h-100 text-center">
        <div class="row">
          <div class="col-sm-12 mt-5">
            <h2>Sorry !!</h2>
            <h2>Doctor Details not found for this related Disease !!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2 m-3" *ngFor="let doctor of doctorList; let i = index">
    <div class="card m-3 d-flex" style="width: 15rem;">
      <img class="card-img-top" src="{{doctor.profile}}" alt="profile">
      <div class="card-body">
        <h1 class="card-title">Name: {{doctor.name}}</h1>
        <h3 class="card-text">Address: {{doctor.address}}</h3>
        <h3 class="card-text">NMC No: {{doctor.nmcNo}}</h3>
        <h3 class="card-text">Speciality: "{{doctor.speacialon}}"</h3>
        <h3 class="card-text">Degree: "{{doctor.degree}}"</h3>
        <a (click)="viewDetails(details,i)" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 m-3" *ngFor="let patient of users; let i = index">
    <div class="card m-3 d-flex" style="width: 15rem;">
      <div class="card-body">
        <h1 class="card-title">Name: {{patient.name}}</h1>
        <h3 class="card-text">Address: {{patient.address}}</h3>
        <h3 class="card-text">Contact: {{patient.email}}</h3>
        <!--        <h3 class="card-text">Spesial on "{{patient}}"</h3>-->
        <a (click)="viewDetails(details,i)" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
</div>

<ng-template #details>
  <div class="d-flex">
    <div class="doctors-detail m-5">
      <h1>Name: {{viewDoctor?.name}}</h1>
      <h2> Address: {{viewDoctor?.address}}</h2>
      <h2>Speciality: {{viewDoctor?.speacialon}}
      </h2>
      <h2>NMC No: {{viewDoctor?.nmcNo}}</h2>
      <h2>Degree: {{viewDoctor?.degree}}</h2>
      <strong> About Doctor:</strong> <br>
      <p>{{viewDoctor?.description}}</p>
      <p>You 6.3 km. far from your doctors</p>
    </div>
    <div class="d-flex align-items-center p-5">
      <img src="{{viewDoctor?.profile}}" alt="profile">
    </div>
    <div *ngIf="roleType==='PATIENT'">
<!--      <button class="btn btn-success m-3" (click)="bookAppointment(viewDoctor,userId)">Book Appointment</button>-->
    </div>
  </div>
</ng-template>

<span *ngIf="roleType==='ADMIN'" class="m-3">
  <button class="btn btn-success m-3" (click)="syncDoctors()">Sync Doctors</button>
</span>
