<nav class="navbar navbar-expand-lg navbar-light bg-primary text-light">
  <a class="w-20 navbar-brand ml-5 mr-5 p-3">Doctors Nepal</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
<!--      <div *ngFor="let menu of menus">-->
        <li class="nav-item active">
          <a routerLink="/user-detail" class="nav-link">
            Home
          </a>
        </li>
      <li class="nav-item active" *ngIf="roleType!=='DOCTOR' ">
        <a routerLink="/doctor-list" class="nav-link">
          Find Doctor
        </a>
      </li>
<!--      <li class="nav-item active" *ngIf="roleType==='DOCTOR' || roleType==='ADMIN'">-->
<!--        <a routerLink="/patient-list" class="nav-link">-->
<!--          Patient-->
<!--        </a>-->
<!--      </li>-->
<!--      </div>-->
    </ul>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >

    <ul class="navbar-nav mb-2 mb-lg-0" *ngIf="isLoggedIn">
      <li class="nav-item active col-sm-6" >
        <form class="form-inline my-2 my-lg-0" [formGroup]="searchGroup">
          <input class="form-control mr-sm-2" type="search" formControlName="search" placeholder="Search" aria-label="Search">
        </form>
      </li>

      <li class="nav-item active col-sm-6 ml-2"><a class="btn btn-outline-light m-2 my-2 my-sm-0" (click)="search(searchGroup.value)" type="submit">Search</a></li>
    </ul>


      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item active col-sm-3"*ngIf="isLoggedIn" >
          <a class="nav-link" (click)="logout()"> Logout </a>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item active float-end col-sm-3" *ngIf="!isLoggedIn" >
          <a class="nav-link" (click)="login()"> Login </a>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item active float-end col-sm-3" *ngIf="!isLoggedIn" >
          <a class="nav-link" (click)="register()"> Register </a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item active float-end col-sm-3" *ngIf="isLoggedIn" >
          <img src="../../../assets/images/profile.jpg" alt="">
        </li>
      </ul>
    </div>
  </div>
</nav>

